{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#overview">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tour">Tour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#try">Try It</a>
        </li>
      </ul>
    </div>
    <div class="col-10">

      <h1 class="page-header" id="overview">Film Log</h1>
      <p>The Film Log is an open source application written using the Python Flask
        framework to assist keeping track of information about
      your still film rolls and sheets. This includes information about shots,
      the film used, filters, aperture, etc. The idea is this information can be
      looked up online or printed out and kept with the actual film itself.
      <a href="/static/public/print1.pdf">Here</a> is an example of a large
      format log. It has 4 exposures on one page to match the PrintFile sheets.</p>

      <p>It can also track information for the darkroom, such as a scan of the
        contact sheet, as well as settings on a particular print.</p>

      <h3 id="features">Current Features</h3>
      <ul>
        <li>Log information about exposures made.</li>
        <li>Print exposure logs for filing with your real negatives.</li>
        <li>Organize film exposure sheets into projects and binders.</li>
        <li>Log information about darkroom prints.</li>
        <li>Upload contact sheets with details on exposure.</li>
        <li>Log information about darkroom prints.</li>
        <li>View statitics on which films you use the most and other interesting stats.</li>
        <li>Track film stock so you know when it's time to buy more film.</li>
        <li>View statitics on which films you use the most and other interesting stats.</li>
      </ul>

      <h3>Planned Features</h3>
      <ul>
        <li>A built-in search to help in finding exposures, taken subjects, etc.</li>
        <li>Support for social login services.</li>
        <li>API for mobile or 3rd party apps to use.</li>
      </ul>

      <h3 id="tour">Tour</h3>
      <ul class="list-unstyled">
        <li class="media mb-3">
          <a href="/static/public/images/binders1.png">
            <img class="mr-3" src="/static/public/images/binders1-thumb.png" alt="Binders Screenshot">
          </a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Organize Into Binders</h5>
            Keep track of your film projects and films in binders which correspond to the physical
            binders the film is kept it. This is up to you to decide but organizing by year is a
            good way to go about it.</a>
          </div>
        </li>

        <li class="media mb-3">
          <a href="/static/public/images/projects1.png">
            <img class="mr-3" src="/static/public/images/projects1-thumb.png" alt="Projects Screenshot">
          </a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Then Organize Into Projects</h5>
            <p>Organize your films within a binder into projects, which could correspond to dividers in
            the binder so you can separate by film size or by a large project (such as a vacation or
            photoshoot) or however you might care to organize it.</p>
          </div>
        </li>

        <li class="media mb-3">
          <a href="/static/public/images/film1.png">
            <img class="mr-3" src="/static/public/images/film1-thumb.png" alt="Film Screenshot">
          </a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Log Dem Films</h5>
            <p>Create a film roll and log exposures, tracking development of the roll
            and information about each exposure. You can generally provide as much
            or as little information as you like.</p>

            <p>For sheets, you still create a film "roll" but then can add each sheet
            as an exposure and provide extended information, such as the development
            and film used. This works well enough for 4x5 since you can store up to
            4 4x5 sheets in a PrintFile. For larger formats, more work may need to be
            done to make it more sensible.</p>
          </div>
        </li>

        <li class="media mb-3">
          <a href="/static/public/images/contactsheet1.png">
            <img class="mr-3" src="/static/public/images/contactsheet1-thumb.png" alt="Contact Sheet Screenshot">
          </a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Upload a Contact Sheet</h5>
            <p>Upload a wet print contact sheet along with information about how
              it was made. Both to give an overview of the images on the roll but
              also to provide baseline exposure settings for making darkroom prints.</p>
          </div>
        </li>

        <li class="media mb-3">
          <a href="/static/public/images/darkroom1.png">
            <img class="mr-3" src="/static/public/images/darkroom1-thumb.png" alt="Darkroom Screenshot">
          </a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Log Your Wet Prints</h5>
            <p>Track information anout the prints you make in the darkroom and
              optionally provide a scanned image for reference.</p>
          </div>
        </li>

        <li class="media mb-3">
          <a href="/static/public/images/gear1.png">
            <img class="mr-3" src="/static/public/images/gear1-thumb.png" alt="Gear Screenshot">
          </a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Track Your Gear</h5>
            <p>Keep track of cameras and lenses which you can include as part of film logs.</p>
          </div>
        </li>

        <li class="media mb-3">
          <a href="/static/public/images/filmstock1.png">
            <img class="mr-3" src="/static/public/images/filmstock1-thumb.png" alt="Filmstock Screenshot">
          </a>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Track Your Film Stock</h5>
            <p>You can track stock of your films so you know when to re-order if you are getting low.</p>
          </div>
        </li>
      </ul>

      <h3 id="try">Try It!</h3>
      <p>Chances are you are not a web developer. That's ok! The Film Log was
        written in mind to be able to provide a hosted solution anyone can use.
        If you want to try it out now, sign up <a href="/register">here</a>.
        I'm providing it for free currently but at some point may need to ask for a tiny
        fee to pay for the hosting costs (I don't like the idea of plastering ads
        all over the place). Of note, I would like to have a Docker image folks
        can deploy on their own as well as perhpas a Raspberry Pi image so you
        can use the app yourself privately (for free).</p>

      <p>If you know a bit about web development, the best way to try it out is
        to grab the source and run it yourself.
        The source is available on <a href="https://gitlab.com/m00dawg/FilmLog">GitLab</a>
        and is distributed under the GPLv3 license. It is a Python-Flask app
        and uses MariaDB 10.2 (other versions probably work). I am working on
        a dockerized approach to make it easier to setup but for now you will
        need to know your way around Flask.</p>
    </div>
  </div>
</div>



{% endblock %}
