{% extends "base.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  <div class="card">
    {% if contactSheet %}
      <div class="flexrow">
        <div class="col-sm-6 panel">
          <br />
          <table class="table table-bordered" id="contact_sheet_details">
            <tr>
              <th>Paper</th>
              <td>
                {% if contactSheet.paperName %}
                  {{ contactSheet.paperBrand }} {{ contactSheet.paperName }}
                {% else %}
                  Not Specified
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Filter</th>
              <td>{{ contactSheet.paperFilterName|default('Not Specified', true) }}</td>
            </tr>
            <tr>
              <th>Lens</th>
              <td>{{ contactSheet.lens|default('Not Specified', true) }}</td>
            </tr>
            <tr>
              <th>Aperture</th>
              <td>{{ contactSheet.aperture|default('Not Specified', true) }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ contactSheet.headHeight|default('Not Specified', true) }}</td>
            </tr>
            <tr><th>Time</th><td>{{ contactSheet.exposureTime }}</td></tr>
          </table>
        </div>
        <div class="col-sm-6 panel">
          <div class="media-body m-4">
            {% if contactSheet.fileID %}
              <a href="/files/full/{{ contactSheet.fileID }}">
                <img class="img-fluid mx-auto d-block" src="/files/thumb/{{ contactSheet.fileID }}" />
              </a>
            {% else %}
              <p>No Image</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% if contactSheet.notes %}
      <div class="col-sm-12 mt-2">
          <table class="table table-bordered" id="contact_sheet_notes">
            <tr><th>Notes</th></tr>
            <tr><td><pre>{{ contactSheet.notes }}</pre></td></tr>
          </table>
      </div>
      {% endif %}
      {% if contactSheet %}
        <div class="card-body">
          <form role="form" class="form-horizontal"
            action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/contactsheet"
            method="POST">
            {{ form.csrf_token }}
            <div class="button-bar">
              <button class="btn btn-danger" name="button" value="deleteCS" action="submit">Delete</button>
            </div>
          </form>
        </div>
      {% endif %}
  {% else %}
      <div class="flexrow">
        <div class="col-sm-4 panel">
          <br />
          <h4>No Sheet Uploaded</h4>
          <br />
        </div>
      </div>
  {% endif %}
</div>
<br />

<div class="card">
  <div class="card-header">Upload Contact Sheet</div>
  <div class="card-body">
    {{ form_errors(form) }}
    <form role="form" class="form-horizontal"
      action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/contactsheet"
      method="POST",
      enctype=multipart/form-data>
      {{ form.csrf_token }}
      <div class="form-group row">
        <div class="col-sm-4">
          {{ form.paperID.label }}
          {{ form.paperID(class="form-control") }}
        </div>
        <div class="col-sm-4">
          {{ form.paperFilterID.label }}
          {{ form.paperFilterID(class="form-control") }}
        </div>
        <div class="col-sm-4">
          {{ form.enlargerLensID.label }}
          {{ form.enlargerLensID(class="form-control") }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          {{ form.aperture.label }}
          {{ form.aperture(class="form-control", placeholder="2.8") }}
        </div>
        <div class="col-sm-4">
          {{ form.headHeight.label }}
          {{ form.headHeight(class="form-control", placeholder="24") }}
        </div>
        <div class="col-sm-4">
          {{ form.exposureTime.label }}
          {{ form.exposureTime(class="form-control", placeholder="0:30") }}
        </div>
      </div>
    <div class="form-group row">
        <div class="col-sm-12">
          {{ form.notes.label }}
          {{ form.notes(class="form-control") }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
          <label>File (JPG)</label>
          <input type=file name=file>
        </div>
    </div>

    <div class="button-bar">
        <button class="btn btn-success" name="button" value="updateCS" action="submit">Save</button>
    </div>
    </form>
  </div>
</div>

{% endblock %}
