{% extends "base.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  <div class="card">
    <table class="table table-striped-by-two table-bordered" id="exposures">
      <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Size</th>
        <th>Paper</th>
        <th>Contrast Filter</th>
        <th>Lens</th>
        <th>Aperture</th>
        <th>Head Height</th>
        <th>Exposure Time</th>
        <th></th>
      </tr>
      {% for print in prints %}
        <tr>
          <td>{{ print.exposureNumber }}</td>
          <td>{{ print.printType }}</td>
          <td>{{ print.size }}</td>
          <td>{{ print.paperbrand }} {{ print.paperName }}</td>
          <td>{{ print.paperFilterName }}</td>
          <td>{{ print.lens }}</td>
          <td>{{ print.aperture }}</td>
          <td>
            {% if print.headHeight %}
              {{ print.headHeight }}
            {% else %}
              Unknown
            {% endif %}
          </td>
          <td>{{ print.exposureTime }}</td>

          <td class="text-right">
            <form role="form" class="form-horizontal"
              action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints"
              method="POST">
              {{ form.csrf_token }}
              <button name="button" value="deletePrint" action="submit" class="btn btn-xs btn-danger">Delete</button>
              <input type="hidden" name="printID" value="{{ print.printID }}" >
            </form>
          </td>
        </tr>
        <tr>
          {% if print.notes %}
            <td colspan="6"><pre>{{ print.notes }}</pre></td>
          {% else %}
            <td colspan="6">&nbsp;</td>
          {% endif %}
          <td colspan="4">
            {% if print.fileID %}
              <a href="/files/full/{{ print.fileID }}">
                <img class="img-fluid mx-auto d-block" src="/files/thumb/{{ print.fileID }}" />
              </a>
            {% else %}
              <p>No Image</p>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr><td colspan="10">No Prints Made</td</tr>
      {% endfor %}
    </table>
</div>

<div class="card">
  <div class="card-header">Add Print</div>
  <div class="card-body">
    {% include 'form_errors.html' %}
    <form role="form" class="form-horizontal"
      action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints"
      method="POST"
      enctype=multipart/form-data>
      {{ form.csrf_token }}
      <div class="form-group row">
        <div class="col-sm-2">
          {{ form.exposureNumber.label }}
          {{ form.exposureNumber(class="form-control") }}
        </div>
        <div class="col-sm-4">
          {{ form.paperID.label }}
          {{ form.paperID(class="form-control") }}
        </div>
        <div class="col-sm-2">
          {{ form.paperFilterID.label }}
          {{ form.paperFilterID(class="form-control") }}
        </div>
        <div class="col-sm-2">
          {{ form.printType.label }}
          {{ form.printType(class="form-control") }}
        </div>
        <div class="col-sm-2">
          {{ form.size.label }}
          {{ form.size(class="form-control") }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          {{ form.enlargerLensID.label }}
          {{ form.enlargerLensID(class="form-control") }}
        </div>
        <div class="col-sm-2">
          {{ form.aperture.label }}
          {{ form.aperture(class="form-control", placeholder="2.8") }}
        </div>
        <div class="col-sm-3">
          {{ form.headHeight.label }}
          {{ form.headHeight(class="form-control", placeholder="24") }}
        </div>
        <div class="col-sm-3">
          {{ form.exposureTime.label }}
          {{ form.exposureTime(class="form-control", placeholder="0:30") }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          {{ form.notes.label }}
          {{ form.notes(class="form-control") }}
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-12">
            <label>File (JPG)</label>
            <input type=file name=file>
          </div>
      </div>
      <div class="button-bar">
        <button class="btn btn-success" name="button" value="addPrint" action="submit">Add</button>
      </div>
    </div>
  </form>

  </div>
</div>

{% if film.notes %}
<div class="card">
  <div class="card-header">Notes</div>
  <div class="filmNotes">
    {{ film.notes }}
  </div>
</div>
{% endif %}

{% endblock %}
