.filmNotes{
  margin-left: 4px;
  margin-right: 4px;
  white-space: pre-wrap;
}

.filmStockZero{
  color: #440000;
  font-weight: bold;
}

.filmStockNegative{
  color: #bb0000;
  font-weight: bold;
}


.table-striped-by-two tr:nth-child(4n+1) {
  background-color: #f9f9f9;
}

.table-striped-by-two tr:nth-child(4n+4) {
  background-color: #f9f9f9;
}

/* Special div to make alignment work for printing, particularly large format
   sheets where the information for each exposure is varied resulting in a
   varied height. */
.flexrow{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexrow .col-md-4{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* End special div */
