{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">Gear</h1>
  <h2>Cameras</h2>
  <table class="table table-striped table-bordered" id="projects">
    <tr>
        <th>Name</th>
        <th>Film Size</th>
    </tr>
    {% for camera in cameras %}
        <tr>
            <td><a href="/gear/camera/{{ camera.cameraID }}">{{ camera.name }}</a></td>
            <td>{{ camera.filmSize }}</td>
        </tr>
    {% else %}
      <tr><td colspan="2">No Cameras Found</td></tr>
    {% endfor %}
  </table>

  <div class="card">
    <div class="card-header">Add Camera</div>
    <div class="card-body">
      {{ form_errors(camera_form) }}
      <form role="form" class="form-horizontal"
        action="/gear"
        method="POST">
        {{ camera_form.csrf_token }}
        <div class="form-group">
          <div class="col-sm-6">
            {{ camera_form.name.label }}
            {{ camera_form.name(class="form-control", placeholder="Minolta X-700") }}
          </div>
          <div class="col-sm-6">
            {{ camera_form.filmSize.label }}
            {{ camera_form.filmSize(class="form-control") }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="addCamera">Save</button>
        </div>
      </form>
    </div>
  </div>

  <h2>Filters</h2>
  <table class="table table-striped table-bordered" id="projects">
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>EV</th>
        <th>Filter Factor</th>
        <th></th>
    </tr>
    {% for filter in filters %}
        <tr>
            <td>{{ filter.name }}</td>
            <td>{{ filter.code }}</td>
            <td>{{ filter.ev }}</td>
            <td>{{ filter.factor }}</td>
            <td>
              <form role="form" class="form-horizontal"
                action="/gear"
                method="POST">
                {{ filter_form.csrf_token }}
                <button name="button" value="deleteFilter" action="submit" class="btn btn-sm btn-danger">Delete</button>
                <input type="hidden" name="filterID" value="{{ filter.filterID }}" >
              </form>
            </td>
        </tr>
    {% else %}
      <tr><td colspan="2">No Filters Found</td></tr>
    {% endfor %}
  </table>

  <div class="card my-4">
    <div class="card-header">Add Filter</div>
    <div class="card-body">
      {{ form_errors(filter_form) }}
      <form role="form" class="form-horizontal"
        action="/gear"
        method="POST">
        {{ filter_form.csrf_token }}
        <div class="form-group row">
          <div class="col-sm-6">
            {{ filter_form.name.label }}
            {{ filter_form.name(class="form-control", placeholder="Hoya Yellow 8") }}
          </div>
          <div class="col-sm-2">
            {{ filter_form.code.label }}
            {{ filter_form.code(class="form-control", placeholder="YEL8") }}
          </div>
          <div class="col-sm-2">
            {{ filter_form.ev.label }}
            {{ filter_form.ev(class="form-control", placeholder="1.0") }}
          </div>
          <div class="col-sm-2">
            {{ filter_form.factor.label }}
            {{ filter_form.factor(class="form-control", placeholder="2.0") }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="addFilter">Save</button>
        </div>
      </form>
    </div>
  </div>

  <h2>Camera Lenses</h2>
  <table class="table table-striped table-bordered" id="projects">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    {% for lens in cameraLenses %}
      <tr>
        <td>{{ lens.name }}</td>
        <td>
          <form role="form" class="form-horizontal"
            action="/gear"
            method="POST">
            {{ camera_lens_form.csrf_token }}
            <button name="button" value="deleteCameraLens" action="submit" class="btn btn-sm btn-danger">Delete</button>
            <input type="hidden" name="lensID" value="{{ lens.lensID }}" >
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <div class="card my-4">
    <div class="card-header">Add Camera Lens</div>
    <div class="card-body">
      {{ form_errors(camera_lens_form) }}
      <form role="form" class="form-horizontal"
        action="/gear"
        method="POST">
        {{ camera_lens_form.csrf_token }}
        <div class="form-group row">
          <div class="col-sm-6">
            {{ camera_lens_form.name.label }}
            {{ camera_lens_form.name(class="form-control", placeholder="Nifty Fifty 50mm f/1.4") }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="addCameraLens">Save</button>
        </div>
      </form>
    </div>
  </div>


  <h2>Enlarger Lenses</h2>
  <table class="table table-striped table-bordered" id="projects">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    {% for lens in enlargerLenses %}
      <tr>
        <td>{{ lens.name }}</td>
        <td>
          <form role="form" class="form-horizontal"
            action="/gear"
            method="POST">
            {{ enlarger_lens_form.csrf_token }}
            <button name="button" value="deleteEnlargerLens" action="submit" class="btn btn-sm btn-danger">Delete</button>
            <input type="hidden" name="enlargerLensID" value="{{ lens.enlargerLensID }}" >
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class="card my-4">
    <div class="card-header">Add Enlarger Lens</div>
    <div class="card-body">
      {{ form_errors(enlarger_lens_form) }}
      <form role="form" class="form-horizontal"
        action="/gear"
        method="POST">
        {{ enlarger_lens_form.csrf_token }}
        <div class="form-group row">
          <div class="col-sm-6">
            {{ enlarger_lens_form.name.label }}
            {{ enlarger_lens_form.name(class="form-control", placeholder="Schneider COMPONAR-S 2.8/50") }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" action="submit" value="addEnlargerLens">Save</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
