{% extends "base.html" %}

{% block content %}

<h2>Welcome to The Film Log, {{ username }}!</h2>

<p>To get started, check the Help section (it's up on the nav bar) and when
  you're ready, go ahead and click the Login button to start logging films!</p>

{% endblock %}
