{% extends "base.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  {% if exposures %}
  <div class="card">
      <table class="table table-striped-by-two table-bordered" id="exposures">
      <tr>
        <th>Number</th>
        <th>Shutter</th>
        <th>Aperture</th>
        <th>Lens</th>
        <th>Metering</th>
        <th>Flash</th>
        <th>Filters</th>
        <th></th>
      </tr>
      {% for exposure in exposures %}
        <tr>
          <td>{{ exposure.exposureNumber }}</td>
          <td>{{ exposure.shutter | format_shutter }}</td>
          <td>
            {% if exposure.aperture %}
              {{ exposure.aperture }}
            {% endif %}
          </td>
          <td>
            {% if exposure.lens %}
              {{ exposure.lens }}
            {% endif %}
          </td>
          <td>
            {% if exposure.metering %}
                {{ exposure.metering }}
            {% endif %}
          <td>
            {% if exposure.flash == 'No' %}
              -
            {% else %}
              &#x2713;
            {% endif %}
          </td>
          <td>
            {% for filter in exposure.filters %}
              {{ filter.code }}
            {% endfor %}
          </td>
          {% include 'film/exposurebuttons.html' %}
        </tr>
        <tr>
          {% if exposure.notes %}
            <td colspan="6">{{ exposure.notes }}</td>
          {% else %}
            <td colspan="6">&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

{% include 'film/add_exposure.html' %}

{% include 'film/film_notes.html' %}

{% endblock %}
