{% extends "print.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  {% if exposures %}
  <div class="card">
    <div class="card-header"><strong>Exposures</strong></div>
    <table class="table table-striped table-bordered table-condensed" id="exposures">
      <tr>
        <th>Number</th>
        <th>Shutter</th>
        <th>Aperture</th>
        <th>Lens</th>
        <th>Flash</th>
        <th>Filters</th>
        <th>Notes</th>
      </tr>
      {% for exposure in exposures %}
        <tr>
          <td class="print">{{ exposure.exposureNumber }}</td>
          <td>
            {% if exposure.shutter %}
              {{ exposure.shutter | format_shutter }}
            {% endif %}
          </td>
          <td>
            {% if exposure.aperture %}
              {{ exposure.aperture }}
            {% endif %}
          </td>
          <td>
            {% if exposure.lens %}
              {{ exposure.lens }}
            {% endif %}
          </td>
          <td>
            {% if exposure.flash == 'No' %}
              -
            {% else %}
              &#x2713;
            {% endif %}
          </td>
          <td>
            {% for filter in exposure.filters %}
              {{ filter.code }}
            {% endfor %}
          </td>
          <td>
            {% if exposure.notes %}
              {{ exposure.notes }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
</div>
{% endif %}

{% if film.notes %}
<div class="card">
  <div class="card-header">Notes</div>
  <div class="filmNotes">
    {{ film.notes }}
  </div>
</div>
{% endif %}

{% endblock %}
