<div class="card">
  <div class="card-body">
    {% include 'form_errors.html' %}
    <form role="form" class="form-horizontal"
        action="/binders/{{ binderID }}/projects/{{ projectID }}/films/{{ filmID }}/exposure/{{ exposureNumber }}"
      method="POST">
      {{ form.csrf_token }}
      <div class="form-group row">
        <div class="col-sm-1">
          {{ form.exposureNumber.label }}
          {{ form.exposureNumber(class="form-control", placeholder="#") }}
        </div>
        <div class="col-sm-2">
          {{ form.shutter.label }}
          {{ form.shutter(class="form-control", placeholder="1/125, 2\", B") }}
        </div>
        <div class="col-sm-2">
          {{ form.aperture.label }}
          {{ form.aperture(class="form-control", placeholder="2.8, 8, 32") }}
        </div>
        <div class="col-sm-2">
          {{ form.lensID.label }}
          {{ form.lensID(class="form-control") }}
        </div>
        <div class="col-sm-1">
          {{ form.flash.label }}
          {{ form.flash(class="form-control") }}
        </div>
        <div class="col-sm-2">
          {{ form.metering.label }}
          {{ form.metering(class="form-control") }}
        </div>
        <div class="col-sm-2">
          {{ form.filters.label }}
          {{ form.filters(class="form-control list-unstyled") }}
        </div>
      </div>
      <div class="form-group row">
        {% if film.filmSizeFormat == 'Sheet' %}
          <div class="col-sm-12">
            {{ form.subject.label }}
            {{ form.subject(class="form-control") }}
          </div>
          <div class="col-sm-12">
            {{ form.development.label }}
            {{ form.development(class="form-control") }}
          </div>
          <div class="col-sm-10">
            {{ form.filmTypeID.label }}
            {{ form.filmTypeID(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ form.shotISO.label }}
            {{ form.shotISO(class="form-control") }}
          </div>
        {% endif %}
        <div class="col-sm-12">
            {{ form.notes.label }}
            {{ form.notes(class="form-control") }}
        </div>

      </div>

      <div class="button-bar">
        {% if view == 'exposures' %}
          <button class="btn btn-success" name="button" value="addExposure" action="submit">Add</button>
        {% else %}
        <button class="btn btn-success" name="button" value="updateExposure" action="submit">Update</button>
        {% endif %}
      </div>
    </div>
  </form>
</div>
