
<div class="page-header">
  <h1>
    {{ film.title }} <small class="text-muted">{{ film.project }}</small>
    {% if not print_view %}
      <a href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}?edit=true">
        <button type="button" class="btn btn-primary btn-sm">Edit</button>
      </a>
      <a href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}?print=true">
        <button type="button" class="btn btn-default btn-sm">Print</button>
      </a>
    {% endif %}
  </h1>
</div>

  <div class="card">
    <div class="card-header"><strong>Overview</strong></div>
    <table class="table">
      <tr>
        <th>Camera</th><td>{{ film.camera }}</td>
        <th>File Date</th><td>{{ film.fileDate|to_date }}</td>
        <th>File No</th><td>{{ film.fileNo }}</td>
      </tr>
      <tr>
        <th>Film</th>
        <td>
          {% if film.filmName %}
            {{ film.brand }} {{ film.filmName }}
          {% else %}
            Unknown
          {% endif %}
        </td>
        <th>Size</th><td> {{ film.size }}</td>
        <th>ISO</th><td>{{ film.filmISO }}, shot at {{ film.shotISO }}</td>
      </tr>
      <tr>
        <th>Loaded</th><td>{{ film.loaded|to_date }}</td>
        <th>Unloaded</th><td>{{ film.unloaded|to_date }}</td>
        <th>Developed</th><td>{{ film.developed|to_date }}</td>
      </tr>
      {% if film.development %}
        <tr>
          <th>Development</th><td colspan="5">{{ film.development }}</td>
        </tr>
      {% endif %}
    </table>
  </div>
  <br />
  <div>
    {% if not print_view %}
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link {% if view =='exposures' %} active {% endif %} " href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}">Exposures</a></li>
        <li class="nav-item"><a class="nav-link {% if view == 'prints' %} active {% endif %}" href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints">Darkroom Prints</a></li>
        <li class="nav-item"><a class="nav-link {% if view == 'contactsheet' %} active {% endif %}" href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/contactsheet">Contact Sheet</a></li>
      </ul>
    {% endif %}
  </div>
