{% extends "print.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  {% if exposures %}
  <div class="card">
    {% for exposure in exposures %}
      {% if loop.index % 2 != 0 %}
        <div class="flexrow">
      {% endif %}
      <div class="col-sm-6 panel">
      <br />
      <table class="table table-bordered" id="exposures{{ exposure.exposureNumber }}">
        <tr>
          <th>Exposure</th><td>{{ exposure.exposureNumber }}</td>
        </tr>
        <tr>
          <th>Subject</th>
          <td>{{ exposure.subject }}</th>
        </tr>
        {% if exposure.filmType %}
        <tr>
          <th>Film</th>
          <td>{{ exposure.filmBrand }} {{ exposure.filmType }} {{ exposure.filmISO }} at {{ exposure.shotISO }}</th>
        </tr>
        {% endif %}
        <tr>
          <th>Shutter</th>
          <td>
            {% if exposure.shutter %}
              {{ exposure.shutter | format_shutter }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Aperture</th>
          <td>
            {% if exposure.aperture %}
              {{ exposure.aperture }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Lens</th>
          <td>
            {% if exposure.lens %}
              {{ exposure.lens }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Flash</th>
          <td>
            {% if exposure.flash == 'No' %}
              -
            {% else %}
              &#x2713;
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Metering</th>
          <td>
            {% if exposure.metering %}
              {{ exposure.metering }}
            {% else %}
              Unknown
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Filters</th>
          <td>
            {% for filter in exposure.filters %}
              {{ filter.code }}
            {% endfor %}
          </td>
        </tr>
        {% if exposure.development %}
        <tr>
          <th>Development</th>
          <td>{{ exposure.development }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Notes</th>
          <td>{{ exposure.notes }}</td>
        </tr>
    </table>

    </div>
    {% if loop.index % 2 == 0 %}
      </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% if film.notes %}
<div class="card">
  <div class="card-header">Notes</div>
  <div class="filmNotes">
    {{ film.notes }}
  </div>
</div>
{% endif %}

{% endblock %}
