{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#getting-started">Getting Started</a>
        <a class="nav-link" href="#printing">Printing Logs</a>
      </li>
    </ul>
  </div>
  <div class="col-10">
    <h1 class="page-header" id="overview">Getting Started</h1>
    <p>New to The Film Log? There's a couple things you will want to do before
      you start logging films.</p>
    <p>First, go to the <a href="/gear">Gear</a> and add some Cameras. You will
      need at least one camera. You can also add Filters, Lenses and Enlarger Lenses.
      These are used, optionally, when logging film and logging print details.
      Lenses need to be associated with a camera so once you add at least one, click
      on the camera you want to associated to this Lens.</p>
    <p>Second, go to <a href="/binders">Binders</a> to create a new Binder. A binder
      is a grouping of projects and projects are then a grouping of films. How
      you organize this is up to you but a common way to do it is to have actual
      negative binders organized by year. Each project then can roughly
      correspond to a paper diver in the binder. Then each film is a PrintFile
      sheet.</p>
    <p>Thus, once you create a Binder, you can then create a Project and
      finally start logging films!</p>

    <h1 class="page-header" id="printing">Printing Logs</h1>
    <p>Part of the point of this whole thing is to be able to print your logs
      out so you can file them with your negatives. Currently, it's recommended
      to use Google Chrome for this as FireFox doesn't have as many printing
      options such as changing the margins.</p>
    <p>In Chrome then go to your film log you want to print, hit the Print
      button next to the title then tell Chrome you want to print the page
      (click on the 3 dots and click on Print or press CTRL-P or Option-P).</p>
    <p>Then click on More settings and select Custom for the margins. Every
      printer is different but some good starting values are:
      <ul>
        <li>Top: 0.26"</li>
        <li>Left: 0.65"</li>
        <li>Right: 0.32"</li>
        <li>Bottom: 0.38"</li>
      </ul>
    <p>This assumes you are using a hole punch. You can get away with thinner
      margins if you are filing them in a plastic sheet or doing something
      else. This also assumes 8.5x11" paper (sorry A-paper folks!). If you
      are using a different paper, you'll want to figure out what margins
      work best for you.</p>
</div>

{% endblock %}
