{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">Binders</h1>

  <table class="table table-striped table-bordered" id="binders">
    <tr>
        <th>Name</th>
        <th>Projects</th>
        <th>Created On</th>
    </tr>
    {% for binder in binders %}
        <tr>
          <td><a href="binders/{{ binder.binderID}}/projects">{{ binder.name }}</a></td>
          <td>{{ binder.projectCount }}</td>
          <td>{{ binder.createdOn }}</td>
        </tr>
    {% else %}
      <tr><td colspan="5">No Projects Found</td></tr>
    {% endfor %}
  </table>

  <div class="card">
    <div class="card-header"><strong>Add Binder</strong></div>
    <div class="card-body">
      {% include 'form_errors.html' %}
      <form role="form" class="form-horizontal"
        action="/binders"
        method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          <div class="col-6">
            {{ form.name.label }}
            {{ form.name(size=48) }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" action="submit">Save</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
