{% extends "base.html" %}

{% macro list_film(size, stock) %}
  {% if stock|length > 0 %}
    <h2>{{ size }}</h2>
    <table class="table table-striped table-bordered" id="film_{{ size }}">
          <tr>
              <th>Film</th>
              <th>ISO</th>
              <th>Size</th>
              {% if type == 'Miniature' or type == 'Small' or type == 'Medium' %}
                <th>Rolls</th>
              {% else %}
                <th>Sheets</th>
              {% endif %}
              <th></th>
          </tr>
    {% for film in stock %}
      <tr
        {% if film.qty < 0 %}
        class="filmStockNegative"
        {% endif %}
        {% if film.qty == 0 %}
        class="filmStockZero"
        {% endif %}
      >
        <td>{{ film.brand }} {{ film.type }}</td>
        <td>{{ film.iso }}</td>
        <td>{{ film.size }}</td>
        <td>{{ film.qty }}</td>
        <td class="text-right">
          <form role="form" class="form-horizontal"
            action="/filmstock"
            method="POST">
            {{ form.csrf_token }}
            <button name="button" value="increment" action="submit" class="btn btn-sm btn-primary">Increment</button>
            <button name="button" value="decrement" action="submit" class="btn btn-sm btn-danger">Decrement</button>
            <input type="hidden" name="filmTypeID" value="{{ film.filmTypeID }}" >
            <input type="hidden" name="filmSizeID" value="{{ film.filmSizeID }}" >
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endmacro %}

{% block content %}
  <h1 class="page-header">Film Stock</h1>
    {{ list_film('35mm', stock_35mm) }}
    {{ list_film('Medium Format', stock_mf) }}
    {{ list_film('Sheet Film', stock_sheets) }}
  </table>

  <div class="card">
    <div class="card-header">Add Filmstock</div>
    <div class="card-body">
      {{ form_errors(form) }}
      <form role="form" class="form-horizontal"
        action="/filmstock"
        method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          <div class="col-sm-4">
            {{ form.filmTypeID.label }}
            {{ form.filmTypeID(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ form.filmSizeID.label }}
            {{ form.filmSizeID(class="form-control") }}
          </div>
          <div class="col-sm-2">
            {{ form.qty.label }}
            {{ form.qty(class="form-control") }}
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" value="add" action="submit" >Add</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
