<!DOCTYPE html>
<html lang="en">
<head>
<title>The Film Log</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="/static/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" media="all">
<link href="/static/style.css" rel="stylesheet" media="all">
<link href="/static/print.css" rel="stylesheet" media="all">
</head>

{% block body %}
<body>
  {% block container %}
  <div class="container-fluid print">
    {% block content %}
    {% endblock %}
  </div>
  {% endblock %}
</body>
{% endblock %}
