{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">{{ project.name }}</h1>

  <h3>Rolls / Films</h3>
  <div class="card">
    <table class="table table-striped table-bordered" id="films">
      <tr>
          <th>Name</th>
          <th>File No.</th>
          <th>Logged Exposures</th>
          <th>Camera</th>
          <th>Film Size</th>
          <th>Film</th>
          <th>File Date</th>
      </tr>
      {% for film in films %}
          <tr>
              <td><a href="/binders/{{ binderID }}/projects/{{ project.projectID }}/films/{{ film.filmID }}">{{ film.title }}</a></td>
              <td>{{ film.fileNo }}</td>
              <td>{{ film.exposures }}</td>
              <td>{{ film.camera }}</td>
              <td>{{ film.size }}</td>
              <td>
                {% if film.brand %}
                  {{ film.brand }} {{ film.filmName }}
                  {% if film.iso %}
                   at {{ film.iso }}
                  {% endif %}
                {% endif %}
              </td>
              <td>{{ film.fileDate|to_date }}</td>
          </tr>
      {% else %}
        <tr><td colspan="6">No Films Found</td></tr>
      {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header"><strong>Add Roll/Film</strong></div>
    <div class="card-body">
      {% include 'form_errors.html' %}
      <form role="form" class="form-horizontal"
        action="/binders/{{ binderID }}/projects/{{ project.projectID }}"
        method="POST">
        {% include 'film/edit-film-form.html' %}
        <div class="button-bar">
          <button class="btn btn-success" action="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
